.mainpanel{
	margin: 1.6em;
}

 #mainpanel-content {
   margin: 2.44em;
   color: white;
 }
body {
 margin: 0px auto; 
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}
.homeBG{
  background-image: url('/images/PokemonBG.png');
}
.surveyBG{
  background-image: url('/images/PokemonBG3.png');
}
main {
  flex: 1 0 auto;
}
.footer-copyright{
  height:4em;
}

nav ul li:hover {
  background-color: grey;
}

.selectText{
  color:white;
}

.select-dropdown{
  color:lightgray;
}
.footerText{
  margin:auto;
  padding:auto;
}
